<div class="container text-center mt-5 bg-light">
  <h1> {{countNumber}} </h1>

  <div class="row mt-5">

    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 col-12 btn-dark" (click)="resetBtn()">Rest</button>
    </div>

    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 col-12 btn-success" (click)="increaseBtn()">Increase Count</button>
    </div>

    <div class="col-lg-4 mt-2">
      <button class="btn col-lg-12 col-12 btn-danger" (click)="decreaseBtn()">Decrease Count</button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
